<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net452" />
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="dbup-core" version="4.2.0" targetFramework="net462" />
  <package id="dbup-mysql" version="4.2.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="LinqKit" version="1.1.13" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>