<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AppCnnStr" connectionString="server=localhost;port=3306;Database=topsys;Uid=root;Pwd=061127;SslMode=None;respect binary flags=false;Allow User Variables=True;Convert Zero Datetime=true;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>