<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.17.5" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="RestSharp" version="106.15.0" targetFramework="net462" />
  <package id="Serilog" version="4.0.1" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="2.0.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Elasticsearch" version="10.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Elasticsearch" version="10.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="4.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Threading.Channels" version="8.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>