.form-container.modal {
    max-height: 70vh;
  }
  
  @media screen and (max-width: 860px) {
    .form-container.modal {
        min-width: 150px;
    }
  }
  
  @media screen and (min-width: 861px) {
    .form-container.modal {
        width: 640px;
    }
  }
  
  .expansion-panel-headers-align .mat-expansion-panel-header-title, 
  .expansion-panel-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .expansion-panel-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
  }
  
  /*.mat-header-cell {
    text-align: right;
  }*/
  .mat-column-codigo {
    text-align: center;
    padding-right: 10px;
  }

  .mat-column-quantidadeParcelas {
    text-align: center;
    padding-right: 10px;
  }

  .mat-column-descricao {
    text-align: center;
    padding-right: 10px;
    min-width: 120px;
  }

  .mat-column-condicaoDaCobranca {
    text-align: center;
    padding-right: 10px;
    min-width: 120px;
  }



  .mat-column-edit {
    text-align: left;
    max-width: 40px;
  }
  .mat-column-delete {
    text-align: left;
    max-width: 40px;
  }

  .parcelas{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .parcelas integer-input{
  //   width: min-content;
  // }

  .checkbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }